body {
  margin:0px;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u253_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u253.mouseOver {
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:163px;
  width:800px;
  height:113px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u255_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u255.mouseOver {
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:163px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:296px;
  width:800px;
  height:113px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u257_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u257.mouseOver {
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:296px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:429px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u259_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u259.mouseOver {
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:429px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:542px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u261_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u261.mouseOver {
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:542px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:655px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u263_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u263.mouseOver {
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:655px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:768px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u265_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u265.mouseOver {
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:768px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:881px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u267_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u267.mouseOver {
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:881px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:994px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u269_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u269.mouseOver {
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:994px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1107px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u271_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u271.mouseOver {
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1107px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1220px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u273_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u273.mouseOver {
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1220px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1333px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u275_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u275.mouseOver {
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1333px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1446px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u277_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u277.mouseOver {
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1446px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1559px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u279_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u279.mouseOver {
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1559px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1672px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u281_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u281.mouseOver {
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1672px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1785px;
  width:800px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u283_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:8px;
  -moz-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(153, 153, 153, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u283.mouseOver {
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:760px;
  word-wrap:break-word;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1785px;
  width:800px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:778px;
  word-wrap:break-word;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1918px;
  width:384px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
